.DS_Store
DBJDemo/.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.plist
Project/arm64-apple-ios-simulator.swiftsourceinfo
Project/x86_64-apple-ios-simulator.swiftsourceinfo
Project/arm64-apple-ios-simulator.swiftsourceinfo
Project/x86_64-apple-ios-simulator.swiftsourceinfo
DBJDemo/*.xcframework
*.xcuserstate
DBJDemo/DBJDemo.xcodeproj/project.xcworkspace/xcuserdata/funny.xcuserdatad/UserInterfaceState.xcuserstate
DBJDemo/DBJDemo.xcodeproj/xcuserdata/
*.xcuserstate
*.DS_Store
DBJDemo/DBJDemo.xcodeproj/project.xcworkspace/xcuserdata/funny.xcuserdatad/UserInterfaceState.xcuserstate
*.xcframework
DBJDemo/*.xcframework
